/* About.css */
.about-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2edca5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-container h2 {
    color: #4b4b4b;
    font-size: 2rem;
    margin-bottom: 10px;
}

.about-container p {
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.5;
}
.menu li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu li a:hover {
    background-color: #6EE7B7;
}

